* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.question-transition-enter {
  opacity: 0;
}

.question-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.question-transition-exit {
  opacity: 1;
}

.question-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.masonry-grid {
  display: flex;
  margin-left: -16px; /* Adjust the left margin to remove the spacing between columns */
  width: auto;
}

.masonry-grid-column {
  background-clip: padding-box;
  padding-left: 16px; /* Adjust the left padding to create spacing between columns */
}

/* Adjust the column width and spacing based on the viewport width */
@media (max-width: 599px) {
  .masonry-grid-column {
    width: 100%;
  }
}

@media (min-width: 600px) {
  .masonry-grid-column {
    width: 50%;
  }
}
